{% extends 'menu.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <style>

    </style>
</head>
<header>
    <h1><strong>Signup For HyperJob</strong></h1>
</header>
<body>
    <main>
        {% block content %}
        <h2>Signup</h2>
        <div class="form-container">
            <form id="form" method="post">
<!--                {% csrf_token %}-->
<!--                {{ form.as_p }}-->
<!--                {% csrf_token %}-->
<!--                <label for='username' id="username">Username:</label>-->
<!--                {{ form.username }}-->
<!--                <br><label id="password">Password:</label>-->
<!--                {{ form.password1 }}-->
<!--                <br><label id="password2">Password confirmation:</label>-->
<!--                {{ form.password2 }} <br>-->
                {% csrf_token %}
                {{ form }}
                <button type="submit">Signup</button>
            </form>
        </div>
        {% endblock %}
    </main>
    {% block intro %}
    {% endblock %}
</body>
</html>