{% extends 'menu.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create_Resume</title>
</head>
<header>
    <h1><strong>Create A New Resume</strong></h1>
    <h3>Only registered users can create and post resumes!</h3>
</header>
<body>
    <main>
        {% block content %}
        <h2>Create Resume</h2>
        <form method='post'>
            {% csrf_token %}
            {{ form }}
            <button type='submit'>Post</button>
        </form>
        {% endblock %}
    </main>
    {% block intro %}
    {% endblock %}
</body>
</html>